@model ProfileViewModel

<ul class="list-group">
    <li class="list-group-item">
        <a href="#">Name: @Model.Name</a>
    </li>
    <li class="list-group-item">
        <a href="#">Email: @Model.Email </a>
    </li>
    <li class="list-group-item">
        <a href="#">City: @Model.City</a>
    </li>
</ul>